/*left side styling*/
.redClass {
    border:solid;
    border-color:darkred;
    font-size:10px;
    margin-bottom:1px;
}

.greenClass {
    border:solid;
    border-color:green;
    font-size:10px;
    margin-bottom:1px;
}

.blueClass {
    border:solid;
    border-color:royalblue;
    font-size:10px;
    margin-bottom:1px;
}

.cirMenu {
    border: 2px solid MidnightBlue;
    border-radius: 5px;
    margin:2px;
    height:74%;
    overflow-y: scroll;
}

.innerMenuLeft {
    height: 100px;
    width: 49%;
    float: left;
}

.innerMenuRight {
    height: 300px;
    width: 49%;
    float: right;
}

.majorSearch {
    padding:1px;
    width: 250px;
    border: 2px solid MidnightBlue;
    margin:0px 0px 0px 2px;
}

.legend {
    font-size: 50%;
    display: inline-block;
    width: 250px;
    border: 2px solid MidnightBlue;
    margin:0px 0px 0px 2px;
}

.gurList {
    border:solid black 2px;
    font-size:10px;
    margin:5px 0px 0px 2px;
    width:99%;
}

.item-collapse {
    display: none;
    overflow: hidden;
}

.collapse-button {
    background-color: darkblue;
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding: 5px;
    color:white;
}


.legend-blue {
    display:inline;
    color:blue;
    font-weight:bold;
}

.legend-green {
    display:inline;
    color:green;
    font-weight:bold;
}

.legend-red {
    display:inline;
    color:darkred;
    font-weight:bold;
}

.legend-inline {
    display:inline;
}


/*left side styling end*/

/*right side styling*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.semBox-dynamic {
  width:30%;

  border: 1px solid blue;
  direction: row;
  display:none;
}

.add-class-field {
    height:150px;
    overflow-y:scroll;
}

.display-class-field {
    height:65%;
    width:95%;
    overflow-y:scroll;
}

.semBox-display {
    width: 30%;
    height: 300px;
    border: 1px solid blue;
    direction: row;
}

.style-component-add-Sem {
    margin-bottom:10px;
}

.hoverText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    top: -5px;
    left: 105%;
}

.h:hover .hoverText {
    visibility: visible;
}





/*right side styling end*/
